.country-list {
    list-style: none;
}

.item {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 18px 20px;
    background-color: #d3d3d3;

}

.hover {
    background-color: #e9e9e9;
}

.active {
    background-color: #fff;

}

.active.hover {
    background-color: #fff;
}